.block-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    margin: 0 auto 2vw auto;
    gap: 25px;
}

.block-images > img {
    max-height: 35vw;
    display: block;
    max-width: 48.5%;
}

@media (max-width: 768px) {
  .block-images {
    flex-direction: column;
    max-width: 80%;
  }

  .block-images > img {
    max-height: 100%;
    display: block;
    max-width: 100%;
  }
}