.centered-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--img-w);
  height: var(--img-h);
  padding-bottom: var(--img-pad);
  margin: auto;
}

@media (max-width: 768px) {
  .centered-img {
    width: var(--img-mob-w);
    height: auto; 
    padding-bottom: 5vw;
  }
}