.hero-container {
  display: flex;
  width: 100%;
  height: 80%;
  border-bottom: 2px solid #CA3631;
}

.image,
.text,
.text-left {
  width: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  color: #CA3631;
  padding: 30px 30px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text h1 {
  font-size: 1.5rem;
  text-align: left;
}

.text h2 {
  font-size: 18vw;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0px;
  line-height: 1.0;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }

  .image,
  .text,
  .text-left {
    width: 100%;
    height: 50%;
  }

  .text h2 {
    font-size: 7.5rem;
    letter-spacing: -2px;
  }
}