.blog-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    max-width: 60vw;
    margin-inline: auto;
}

.blog-paragraph p {
    color: #CA3631;
    font-family: "ModeratFont";
    font-size: 1.25vw;
    padding-bottom: 2vw;
}

.blog-paragraph h1 {
    font-family: "ModeratFont";
    color: #CA3631;
    font-size: 1.5vw;
}

@media (max-width: 768px) {
  .blog-paragraph  {
    max-width: 80%;
  }

  .blog-paragraph p {
    font-size: 1rem;
  }

  .blog-paragraph h1 {
    font-size: 1rem;
  }
}