.north-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3%;
    align-items: center;
    justify-items: center;
}

.north-container > h1 {
    color: #000;
    font-size: calc(12px + 4vw);
    font-weight: normal;
}

.red-square {
    background-color: #ca3631;
    min-width: 10vw;
    min-height: 10vw;
    margin-bottom: 5vw;
}