.alexis-blog-middle-container {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.alexis-blog-middle-container h1 {
    color: #000;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    margin: 1vw;
    margin-top: 1vw;
    letter-spacing: -0.2vw;
}

.alexis-blog-middle-container p {
    color: #000;
    font-family: 'JuraBold';
    font-size: 12px;
    text-align: left;
}

.alexis-blog-middle-container i {
    display: inline-block;
    margin-left: 50px;
}

.alexis-images-container {
    display: flex;
    max-width: 95%;
    margin: 1vw;
}

.alexis-images-container > img {
    width: 275px;
    height: 275px;
    display: block;
    margin: 0.5vw;
}

.alexis-body-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(10, auto);
}

.alexis-body-container p {
    color: #000;
    font-family: 'JuraBold';
    font-size: 12px;
    text-align: left;
}

.alexis-body-container b {
    color: #000;
    font-family: 'JuraBold';
    font-size: 24px;
    text-align: left;
}

.alexis-body-container b span {
    box-shadow: inset 0px -17px 0px 0px rgb(218, 123, 255);
}

.left-column {
    grid-column: 1 / span 1;
    grid-row: 1 / span 10;
    margin-bottom: 2vw;
}

.right-column {
    grid-column: 2 / span 1;
    grid-row: 1 / span 10;
    margin: 2vw;
    margin-left: 4vw;
}

@media screen and (max-width: 960px) {
    .alexis-blog-middle-container {
        padding: 5vw;
        width: auto;
    }

    .alexis-images-container {
        margin: 0;
        margin-top: 1vw;
    }

    .alexis-blog-middle-container h1 {
        font-size: 3vw;
        margin-top: 12px;
    }

    .alexis-images-container > img {
        width: 32vw;
        height: 32vw;
        margin-right: 1vw;
        margin-bottom: 10px;
    }
    
    .alexis-body-container b {
        font-size: 3vw;
    }

    .alexis-body-container b span {
        box-shadow: inset 0px -2.3vw 0px 0px rgb(218, 123, 255);
    }
}