.andy-castaneda-blog-north-container {
    background-color: #EAE7DF;
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 0 auto;
    padding: 2vw;
}

.andy-castaneda-blog-north-inner {
    max-width: 750px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.andy-castaneda-blog-north-container h1 {
    color: #CA3631;
    font-size: 4vw;
    font-weight: normal;
    text-align: left;
    letter-spacing: -0.15vw;
}

@media screen and (max-width: 960px) {
    .andy-castaneda-blog-north-container {
        padding-left: 5vw;
        padding-right: 5vw;
        width: auto;
    }

    .andy-castaneda-blog-north-container h1 {
        font-size: 9vw;
    }
}