.blog-north-container {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 900px;
    margin: 0 auto;
    padding: 2vw;
}

.blog-north-container > h1 {
    color: #000;
    font-size: 10vw;
    font-weight: normal;
}

@keyframes blog-north {
    from {
      opacity: 0;
      transform: translate3d(0, -25%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
 }

@media only screen and (max-width: 960px) {
  .blog-north-container {
    width: 100%;
  }
}