.contact-us-north-container {
    background: url('/public/images/gbenga-onalaja-unsplash.jpg') center center/cover no-repeat;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
  
.contact-us-north-container > h1 {
    color: #fff;
    width: 900px;
    font-size: 90px;
    font-weight: normal;
}
  
.contact-us-north-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
}
  
@media screen and (max-width: 960px) {
  .contact-us-north-container {
    width: 100%;
  }
    .contact-us-north-container > h1 {
      font-size: 10vw;
      width: 100%;
    }
}
  
@media screen and (max-width: 768px) {
    .contact-us-north-container > p {
      font-size: 30px;
    }
}