.damaris-alderete-container {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 0 auto;
    padding: 2vw;
}

.damaris-alderete-inner {
    max-width: 750px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.damaris-alderete-container h1 {
    color: #000;
    font-size: 4vw;
    font-weight: normal;
    text-align: left;
    letter-spacing: -0.6vw;
}

.damaris-alderete-middle-container {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    padding: 2vw;
}

.damaris-alderete-middle-container h1 {
    color: #000;
    font-size: 3vw;
    font-weight: normal;
    text-align: center;
    margin: 1vw;
    margin-top: 3vw;
    letter-spacing: -0.2vw;
}

.damaris-alderete-middle-container h2 {
    color: #000;
    font-size: 2vw;
    font-weight: normal;
    text-align: left;
}

.damaris-alderete-middle-container h3 {
    color: #000;
    font-size: 2.5vw;
    font-weight: normal;
    text-align: left;
}

.damaris-alderete-middle-container p {
    color: #000;
    font-family: 'JuraBold';
    font-size: 12px;
    text-align: left;
}

.damaris-alderete-middle-container p2 {
    color: #000;
    font-family: 'JuraBold';
    font-size: 20px;
    text-align: left;
}

.damaris-alderete-middle-container p3 {
    color: #000;
    font-family: 'JuraBold';
    font-size: 24px;
    text-align: left;
}

.damaris-alderete-side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin-top: 2vw;
    gap: 25px;
}

.damaris-alderete-side-by-side h1 {
    font-size: 1.9rem;
    text-align: left;
    width: 50%;
}

.damaris-alderete-side-by-side p2 {
    align-self:center;
    font-size: 22px;
    width: 50%;
}

.damaris-alderete-side-by-side > img {
    height: auto;
    display: block;
    width: 50%;
}

@media screen and (max-width: 960px) {
    .damaris-alderete-container {
        padding-left: 5vw;
        padding-right: 5vw;
        width: auto;
    }

    .damaris-alderete-container h1 {
        font-size: 5vw;
    }

    .damaris-alderete-middle-container {
        padding: 5vw;
        width: auto;
    }

    .damaris-alderete-middle-container h2 {
        font-size: 4vw;
        text-align: left;
    }

    .damaris-alderete-middle-container p2 {
        color: #000;
        font-family: 'JuraBold';
        font-size: 16px;
        text-align: left;
    }

    .damaris-alderete-middle-container p3 {
        color: #000;
        font-family: 'JuraBold';
        font-size: 18px;
        text-align: left;
    }

    .damaris-alderete-side-by-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .damaris-alderete-side-by-side > img {
        width: 90vw;
        height: auto;
        margin-bottom: 10px;
        width: 100%;
    }

    .damaris-alderete-side-by-side p2 {
        font-size: 1rem;
        width: 100%;
    }

    .damaris-alderete-side-by-side h1 {
        font-size: 1.3rem;
        width: 100%;
    }
}