.daniela-carranco-container {
    background-color: #EAE7DF;
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: 0 auto;
    padding: 2vw;
}

.daniela-carranco-inner {
    max-width: 750px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.daniela-carranco-container h1 {
    color: #CA3631;
    font-size: 4vw;
    font-weight: normal;
    text-align: left;
    letter-spacing: -0.15vw;
}

.daniela-carranco-middle-container {
    background-color: #EAE7DF;
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    padding: 2vw;
}

.daniela-carranco-middle-container h1 {
    color: #CA3631;
    font-size: 3vw;
    font-weight: normal;
    text-align: center;
    margin: 1vw;
    margin-top: 3vw;
    letter-spacing: -0.2vw;
}

.daniela-carranco-middle-container h2 {
    color: #CA3631;
    font-size: 2vw;
    font-weight: normal;
    text-align: left;
}

.daniela-carranco-middle-container p {
    color: #CA3631;
    font-family: 'ModeratFont';
    font-size: 12px;
    text-align: left;
}

.daniela-carranco-middle-container p2 {
    color: #CA3631;
    font-family: 'ModeratFont';
    font-size: 20px;
    text-align: left;
}

.daniela-carranco-middle-container p3 {
    color: #CA3631;
    font-family: 'ModeratFont';
    font-size: 24px;
    text-align: left;
}

.daniela-carranco-side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    margin-top: 2vw;
    gap: 10px;
}

.daniela-carranco-side-by-side h1 {
    font-size: 2.2rem;
    text-align: left;
    max-width: 50%;
    letter-spacing: -0.09vw;
}

.daniela-carranco-side-by-side p2 {
    align-self:center;
    font-size: 22px;
    width: 50%;
}

.daniela-carranco-side-by-side > img {
    height: auto;
    display: block;
    width: 50%;
}

@media screen and (max-width: 960px) {
    .daniela-carranco-container {
        padding-left: 5vw;
        padding-right: 5vw;
        width: auto;
    }

    .daniela-carranco-container h1 {
        font-size: 9vw;
    }

    .daniela-carranco-middle-container {
        padding: 5vw;
        width: auto;
    }

    .daniela-carranco-middle-container h2 {
        font-size: 6vw;
        text-align: left;
    }

    .daniela-carranco-middle-container p2 {
        color: #CA3631;
        font-size: 16px;
        text-align: left;
    }

    .daniela-carranco-middle-container p3 {
        color: #CA3631;
        font-size: 18px;
        text-align: left;
    }

    .daniela-carranco-side-by-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .daniela-carranco-side-by-side > img {
        width: 90vw;
        height: auto;
        margin-bottom: 10px;
        width: 100%;
    }

    .daniela-carranco-side-by-side p2 {
        font-size: 1rem;
        width: 100%;
    }

    .daniela-carranco-side-by-side h1 {
        font-size: 1.3rem;
        max-width: 100%;
    }
}