.footer-container {
    background-color: #CA3631;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 10vh;
    padding-inline: 2vw;
}

.footer-left {
    display: flex;
    flex-direction: column;
    color: #EAE7DF;
    text-align: left;
}

.footer-left h1 {
    font-size: 10rem;
    line-height: 0.9;
}

.footer-right {
    display: flex;
    flex-direction: column;
    color: #EAE7DF;
    text-align: right;
}

.footer-links {
    color: #F7F7F7;
    font-family: 'ModeratFont';
    text-decoration: underline;
}

.footer-links:hover {
    border-bottom: 4px solid #f7f7f7;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px; 
        padding: 40px 20px;
    }

    .footer-left, 
    .footer-right {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .footer-left h1 {
        font-size: 8rem;
    }
}