video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    background: #000 center center/cover no-repeat;
    /* height: auto; */
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(20, 8vw);
    grid-template-rows: repeat(20, 8vh); */
    row-gap: 1vh;
}

.hero-container > h1 {
    color: #fff;
    font-weight: normal;
    font-size:calc(12px + 10vw);
    grid-row: 1;
    grid-column: 1 / span 12;
}

/* @keyframes blog-north {
    from {
      opacity: 0;
      transform: translate3d(0, -25%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
 } */