.main-container {
  
}

.image-text-container {
  display: flex;
  width: 100%;
  height: 80%;
}

.image,
.text {
  width: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strip-container {
  background: #EAE7DF;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 2px solid #CA3631;
}

.ticker {
  display: inline-flex;
  white-space: nowrap;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.ticker span {
  font-size: 2rem;
  font-weight: 600;
  color: #CA3631;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .image-text-container {
    flex-direction: column;
  }

  .image,
  .text {
    width: 100%;
    height: 50%;
  }
}