.image-text-container {
  display: flex;
  width: 100%;
  height: 80%;
  border-bottom: 2px solid #CA3631;
}

.image,
.text,
.text-left {
  width: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  color: #CA3631;
  padding: 30px 30px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text h1 {
  font-size: 1.5rem;
  text-align: left;
}

.text h2 {
  font-size: 18vw;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0px;
  line-height: 1.0;
}

.text-left {
  color: #CA3631;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-left h1 {
  font-size: 3rem;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.text-left p {
  font-size: 20px;
  font-family: 'ModeratFont';
  margin-top: auto;
  margin-bottom: auto;
}

.strip-container {
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.ticker {
  display: inline-flex;
  white-space: nowrap;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.ticker span {
  font-size: 2rem;
  font-weight: 600;
  color: #CA3631;
}

.text-center-container {
  background-color: #CA3631;
  color: #EAE7DF;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  text-align: center;
}

.text-center-container h1 {
  font-size: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.text-center-container h2 {
  font-size: 2rem;
  font-family: 'ModeratFont';
  padding-top: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.text-center-container p {
  font-size: 1.2rem;
  font-family: 'ModeratFont';
  padding: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.red-button {
  padding: 12px 24px;
  margin-top: auto;
  margin-bottom: auto;
  width: fit-content;
  font-family: 'ModeratFont';
  background-color: #CA3631;
  color: #EAE7DF;
  border: none;
  cursor: pointer;
  border: 2px solid #EAE7DF;
  border-radius: 9999px;
  text-decoration: none;
}

.red-button:hover {
  border-color: #000;
  color: #000;
}

.red-button:active {
  transform: scale(0.95);
}

.white-button {
  padding: 12px 24px;
  margin-top: auto;
  margin-bottom: auto;
  width: fit-content;
  font-family: 'ModeratFont';
  background-color: #EAE7DF;
  color: #CA3631;
  border: none;
  cursor: pointer;
  border: 2px solid #CA3631;
  border-radius: 9999px;
  text-decoration: none;
}

.white-button:hover {
  border-color: #000;
  color: #000;
}

.white-button:active {
  transform: scale(0.95);
}

.blog-container {
  background-color: #EAE7DF;
  color: #CA3631;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.blog-container h1 {
  font-size: 3rem;
}

.blog-list {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-content: center;
}

.individual-blog {
  background-color: #CA3631;
  color: #EAE7DF;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 20px;
  width: 350px;
  height: 650px;
}

.individual-blog img {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}

.blog-text {
  width: 300px;
  height: 300px;
}

.blog-text h1 {
  text-align: left;
  font-size: 1.5rem;
}

.blog-text p {
  font-family: "ModeratFont";
  font-size: 1rem;
  margin-top: 10px;
}

.full-width-img {
  width: 100%;
  height: auto;
  display: block;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh;
  width: 100%;
  border-bottom: 2px solid #CA3631;
}

.testimonials-container h1 {
  color: #CA3631;
  font-size: 3rem;
  width: 100%;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.carousel-content {
  overflow: hidden; /* This hides the slides that aren't active */
  width: 70%;
  background: #EAE7DF;
  border-radius: 8px;
}

.slide-track {
  display: flex;
  transition: transform 0.4s ease-out; /* Smooth sliding effect */
}

.slide {
  min-width: 100%;
  padding-block: 5vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  text-align: center;
}

.slide p {
  color: #CA3631;
  font-size: 1.5rem;
  font-family: "ModeratFont";
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #CA3631;
  z-index: 10;
}

.arrow.left {
  position: absolute;
  left: -60px;
}

.arrow.right {
  position: absolute;
  right: -60px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .image-text-container {
    flex-direction: column;
  }

  .image,
  .text,
  .text-left {
    width: 100%;
    height: 50%;
  }

  .text h2 {
    font-size: 7.5rem;
    letter-spacing: -2px;
  }

  .text-center-container {
    padding: 20px;
  }

  .text-left {
    padding: 10px 20px 10px 20px;
  }

  .text-left h1 {
    font-size: 1.5rem;
  }

  .text-left p {
    font-size: 14px;
  }

  .text-center-container h1 {
    font-size: 2rem;
  }

  .text-center-container h2 {
    font-size: 1.25rem;
  }

  .text-center-container p {
    font-size: 0.85rem;
  }

  .blog-container {
    padding: 20px;
  }

  .blog-container h1 {
    font-size: 2rem;
  }

  .blog-list {
    flex-direction: column;
  }

  .individual-blog {
    width: 300px;
    height: 550px;
  }

  .individual-blog img {
    height: 250px;
    width: 250px;
    margin-bottom: 25px;
  }

  .blog-text {
    width: 250px;
    height: 250px;
  }

  .blog-text h1 {
    font-size: 1rem;
  }

  .blog-text p {
    font-size: 0.8rem;
  }

  .testimonials-container h1 {
    font-size: 2rem;
  }
  
  .carousel-content {
    width: 100%;
  }

  .slide p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .blog-list {
    flex-direction: column;
  }

  .individual-blog {
    width: 550px;
    height: 850px;
  }

  .individual-blog img {
    height: 500px;
    width: 500px;
    margin-bottom: 30px;
  }

  .blog-text {
    width: 500px;
    height: 500px;
  }

  .blog-text h1 {
    font-size: 2rem;
  }

  .blog-text p {
    font-size: 1rem;
  }
}