.image-text-container {
  display: flex;
  width: 100%;
  height: 80%;
}

.image,
.text {
  width: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  color: #CA3631;
  padding: 30px 30px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text h1 {
  font-size: 1.5rem;
  text-align: left;
}

.text h2 {
  font-size: 18vw;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0px;
}

.strip-container {
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 2px solid #CA3631;
}

.ticker {
  display: inline-flex;
  white-space: nowrap;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.ticker span {
  font-size: 2rem;
  font-weight: 600;
  color: #CA3631;
}

.text-center-container {
  background-color: #CA3631;
  color: #F7F7F7;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  text-align: center;
}

.text-center-container h1 {
  font-size: 4rem;
}

.text-center-container h2 {
  font-size: 2rem;
  font-family: 'ModeratFont';
  margin-top: 20px;
}

.text-center-container p {
  font-size: 1.2rem;
  font-family: 'ModeratFont';
  margin-top: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .image-text-container {
    flex-direction: column;
  }

  .image,
  .text {
    width: 100%;
    height: 50%;
  }

  .text h2 {
    font-size: 7.5rem;
    letter-spacing: -2px;
  }

  .text-center-container h1 {
    font-size: 2rem;
  }

  .text-center-container h2 {
    font-size: 1.25rem;
    margin-top: 30px;
  }

  .text-center-container p {
    font-size: 1rem;
    margin-top: 30px;
  }
}