.home-middle-2-container {
  background-color: #ca3631;
}

.home-middle-2-inner {
  width: 900px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.home-middle-2-container h1 {
  color: #fff;
  font-size: 90px;
  font-weight: normal;
}

@media screen and (max-width: 960px) {
  .home-middle-2-inner {
    width: 100%;
  }

  .home-middle-2-container h1 {
    font-size: 10vw;
  }
}