.jackie-herald-blog-middle-container {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.jackie-herald-blog-middle-container h1 {
    color: #000;
    font-size: 32px;
    font-weight: normal;
    text-align: left;
    margin-top: 1vw;
    margin-bottom: 2vw;
    letter-spacing: -0.2vw;
}

.jackie-herald-blog-middle-container p {
    color: #000;
    font-family: 'JuraBold';
    font-size: 12px;
    text-align: left;
    margin-left: 2vw;
    margin-right: 0;
}

.jackie-herald-blog-middle-container i {
    font-weight: normal;
    font-size: smaller;
}

.jackie-herald-blog-middle-container i2 {
    display: inline-block;
    margin-left: 50px;
}

.jackie-herald-images-container {
    text-align: center;
}

.jackie-herald-images-wide-container {
    text-align: center;
}

.jackie-herald-images-two-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.jackie-herald-images-container > img {
    width: 603px;
    height: 653px;
    margin: 0 auto 0.5vw auto;
    display: block;
}

.jackie-herald-images-two-container > img {
    width: 400px;
    height: 533.33px;
    margin: 0 auto 0.5vw auto;
    display: block;
}

.jackie-herald-images-wide-container > img {
    width: 807px;
    height: 454px;
    margin: 0 auto 0.5vw auto;
    display: block; 
}

.image-caption {
    color: #000;
    font-family: 'JuraBold';
    font-size: 12px;
    text-align: center;
    display: inline-block;
}

.jackie-herald-body-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(10, auto);
}

.jackie-herald-body-container p {
    color: #000;
    font-family: 'JuraBold';
    font-size: 12px;
    text-align: left;
}

.jackie-herald-body-container b {
    color: #000;
    font-family: 'JuraBold';
    font-size: 14px;
    text-align: left;
}

b, strong {
    font-weight: bold;
    font-size: smaller;
}

.jackie-herald-left-column {
    grid-column: 1 / span 1;
    grid-row: 1 / span 10;
    margin-right: 2vw;
}

.jackie-herald-right-column {
    grid-column: 2 / span 1;
    grid-row: 1 / span 10;
    margin: 2vw;
    margin-left: 4vw;
}

@media screen and (max-width: 960px) {
    .jackie-herald-blog-middle-container {
        padding: 5vw;
        width: auto;
    }

    .jackie-herald-blog-middle-container h1 {
        font-size: 3vw;
        margin-top: 12px;
        margin-bottom: 5vw;
    }

    .jackie-herald-images-container > img {
        width: 72vw;
        height: 72vw;
        margin-bottom: 10px;
    }

    .jackie-herald-images-wide-container > img {
        width: 90vw;
        height: 50vw;
        margin: 0 auto 10px auto;
        display: block; 
    }

    .jackie-herald-images-two-container > img {
        width: 40vw;
        height: 53.3vw;
        margin: 0 auto 0.5vw auto;
        display: block;
    }
    
    .jackie-herald-body-container b {
        font-size: 6vw;
    }
}