  .navbar {
    background: #CA3631;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
  }
  
  .navbar-logo {
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #f7f7f7;
    text-decoration: none;
    display: flex;
    list-style: none;
    margin-left: auto;
  }

  .nav-links li {
    margin-right: 50px;
  }

  .links-prop {
    color: #F7F7F7;
    font-family: 'ModeratFont';
    text-decoration: none;
  }
  
  .links-prop:hover {
    border-bottom: 4px solid #f7f7f7;
    transition: all 0.2s ease-out;
  }
  
  .menu-icon {
    display: none;
    color: #F7F7F7;
  }

  @media screen and (max-width: 960px) {
     
    .menu-icon {
      display: block;
      margin-left: auto;
    }

    .nav-links {
      display: none;
    }

    .nav-links.active {
      display: block;
      position: absolute;
      top: 70px;
      right: 0;
      left: auto;
      margin: auto;
      text-align: right;
      width: 100%;
      height: 2000px;
      font-size: 2rem;
      background: #ca3631;
      padding: 14px 20px;
      transition: all 0.3s ease-out;
      z-index: 999;
    }

    .nav-links:hover {
      border: 1px solid #ca3631;
      color: #000;
      transition: 250ms;
    }

    .nav-links.active li {
      margin: 15px 0;
    }
  }