@font-face { 
  font-family: 'MyFont'; 
  src: 
      url('./assets/fonts/impact.ttf')  
      format('opentype'); 
      font-weight: normal; 
      font-style: normal;
}

@font-face { 
  font-family: 'ModeratFont'; 
  src: 
      url('./assets/fonts/Moderat-Regular.ttf')  
      format('opentype'); 
      font-weight: normal; 
      font-style: normal; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MyFont';
  }
  
  .offwhite-background {
    background: #EAE7DF;
    width: 100%;
  }