@font-face { 
  font-family: 'MyFont'; 
  src: 
      url('./assets/fonts/KronaOne-Regular.ttf')  
      format('opentype'); 
      font-weight: normal; 
      font-style: normal; 
}

@font-face { 
  font-family: 'JuraFont'; 
  src: 
      url('./assets/fonts/Jura/Jura-Regular.ttf')  
      format('opentype'); 
      font-weight: normal; 
      font-style: normal; 
}

@font-face { 
  font-family: 'JuraBold'; 
  src: 
      url('./assets/fonts/Jura/Jura-Bold.ttf')  
      format('opentype'); 
      font-weight: normal; 
      font-style: normal; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MyFont';
  }
  
  .home,
  .blog,
  .about,
  .sign-up {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .offwhite-background {
    background-color: #f7f7f7;
    width: 100%;
  }

  .sign-up {
    background-image: url('./assets/images/hex_by_lex.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }