@font-face { 
  font-family: 'MyFont'; 
  src: 
      url('./assets/fonts/impact.ttf')  
      format('opentype'); 
      font-weight: normal; 
      font-style: normal;
}

@font-face { 
  font-family: 'ModeratFont'; 
  src: 
      url('./assets/fonts/Moderat-Regular.ttf')  
      format('opentype'); 
      font-weight: normal; 
      font-style: normal; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MyFont';
  }
  
  .offwhite-background {
    background: #EAE7DF;
    width: 100%;
  }

/* The initial state of the component */
.reveal-section {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
    visibility: hidden;
}

/* Starting Positions */
.reveal-up { 
  transform: translateY(30px); 
}

.reveal-left { 
  transform: translateX(-50px); 
} 

.reveal-right { 
  transform: translateX(50px); 
}

/* The state when the Intersection Observer triggers */
.reveal-section.is-visible {
    opacity: 1;
    transform: translate(0,0);
    visibility: visible;
}