.centered-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 6vh;
    border-bottom: 2px solid #CA3631;
}

.centered-text-container h1 {
    font-size: 4rem;
    color: #CA3631;
    margin-block: 3vh;
}

@media (max-width: 768px) {
    .centered-text-container h1 {
        font-size: 2rem;
    }
}