.cta-container {
  display: flex;
  width: 100%;
  height: 80%;
  border-bottom: 2px solid #CA3631;
  align-items: center;
  justify-content: center;
}

.text-left {
  color: #CA3631;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-left h1 {
  font-size: 3rem;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.text-left p {
  font-size: 20px;
  font-family: 'ModeratFont';
  margin-top: auto;
  margin-bottom: auto;
}

.image {
  padding: var(--image-pad, 0px);
}

.image-right {
  flex-direction: row;
}

.image-left {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .cta-container {
    flex-direction: column;
  }

  .text-left {
    padding: 10px 20px 10px 20px;
  }

  .text-left h1 {
    font-size: 1.5rem;
  }

  .text-left p {
    font-size: 14px;
  }

  .image-left {
    flex-direction: column-reverse;
  }

  .image {
    padding: 0px;
  }
}